<h1>Listing provider_fw_rules</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Protocol</th>
    <th>From port</th>
    <th>To port</th>
    <th>Cidr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @provider_fw_rules.each do |provider_fw_rule| %>
  <tr>
    <td><%= provider_fw_rule.created_at %></td>
    <td><%= provider_fw_rule.updated_at %></td>
    <td><%= provider_fw_rule.deleted_at %></td>
    <td><%= provider_fw_rule.deleted %></td>
    <td><%= provider_fw_rule.protocol %></td>
    <td><%= provider_fw_rule.from_port %></td>
    <td><%= provider_fw_rule.to_port %></td>
    <td><%= provider_fw_rule.cidr %></td>
    <td><%= link_to 'Show', provider_fw_rule %></td>
    <td><%= link_to 'Edit', edit_provider_fw_rule_path(provider_fw_rule) %></td>
    <td><%= link_to 'Destroy', provider_fw_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider fw rule', new_provider_fw_rule_path %>
