<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @instance_type_extra_spec.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @instance_type_extra_spec.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @instance_type_extra_spec.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @instance_type_extra_spec.deleted %>
</p>

<p>
  <b>Instance type:</b>
  <%= @instance_type_extra_spec.instance_type_id %>
</p>

<p>
  <b>Key:</b>
  <%= @instance_type_extra_spec.key %>
</p>

<p>
  <b>Value:</b>
  <%= @instance_type_extra_spec.value %>
</p>


<%= link_to 'Edit', edit_instance_type_extra_spec_path(@instance_type_extra_spec) %> |
<%= link_to 'Back', instance_type_extra_specs_path %>
