<p id="notice"><%= notice %></p>

<p>
  <b>Host:</b>
  <%= @cloud_server.host %>
</p>

<p>
  <b>Hypervisor hostname:</b>
  <%= @cloud_server.hypervisor_hostname %>
</p>

<p>
  <b>Instance name:</b>
  <%= @cloud_server.instance_name %>
</p>

<p>
  <b>Power state:</b>
  <%= @cloud_server.power_state %>
</p>

<p>
  <b>Task state:</b>
  <%= @cloud_server.task_state %>
</p>

<p>
  <b>Vm state:</b>
  <%= @cloud_server.vm_state %>
</p>

<p>
  <b>Flavor:</b>
  <%= @cloud_server.flavor %>
</p>

<p>
  <b>Hostid:</b>
  <%= @cloud_server.hostId %>
</p>

<p>
  <b>Id:</b>
  <%= @cloud_server.id %>
</p>

<p>
  <b>Image:</b>
  <%= @cloud_server.image %>
</p>

<p>
  <b>Metadata:</b>
  <%= @cloud_server.metadata %>
</p>

<p>
  <b>Name:</b>
  <%= @cloud_server.name %>
</p>

<p>
  <b>Status:</b>
  <%= @cloud_server.status %>
</p>

<p>
  <b>Tenant:</b>
  <%= @cloud_server.tenant_id %>
</p>

<p>
  <b>User:</b>
  <%= @cloud_server.user_id %>
</p>

<p>
  <b>Vmnet:</b>
  <%= @cloud_server.vmnet %>
</p>


<%= link_to 'Edit', edit_cloud_server_path(@cloud_server) %> |
<%= link_to 'Back', cloud_servers_path %>
