<%= form_for(@security_group_instance_association) do |f| %>
  <% if @security_group_instance_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@security_group_instance_association.errors.count, "error") %> prohibited this security_group_instance_association from being saved:</h2>

      <ul>
      <% @security_group_instance_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :security_group_id %><br />
    <%= f.number_field :security_group_id %>
  </div>
  <div class="field">
    <%= f.label :instance_id %><br />
    <%= f.number_field :instance_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
