
<% content_for :head do %>
<%= stylesheet_link_tag 'cloud_user.css.scss' -%>
<% end %>

</br></br>
<div class="form-signin">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="form-sigin-heading">Edit <%= resource_name.to_s.humanize %></h2>
  
  <div>
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

 <div>
  <%= f.text_field :username %></div>

  <div>
  <%= f.password_field :password, :autocomplete => "off", :placeholder => "New Password"%></div>

  <div>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm New Password" %></div>

  <div>
  <%= f.password_field :current_password, :placeholder => "Current Password" %></div>

  <div><%= f.submit "Update", :class => "btn btn-primary" %></div>
<% end %>

<h3>Cancel my account</h3>

<p> <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger", :method => :delete %>.</p>

</div>

<%= link_to "Back", :back %>
