<% content_for :head do %>
<%= stylesheet_link_tag 'dashboard-base.css.scss' -%>
<% end %>


<%= content_tag :div, :class => "dashboard" do -%>

    <%= image_tag("keys.jpg", :alt=>"")%>
        <%= content_tag :div, :class => "container" do -%>
        <%= content_tag :div, :class => "dashboard-caption" do -%>
        <h1> Networks </h1>
        <% end %>
        <% end %>
    <% end %>


<%= content_tag :div, :class => "container-fluid" do -%>
<%= content_tag :div, :class => "row-fluid" do -%>

<%= content_tag :div, :class => "span2" do -%>

<%= button_to "Active", networks_path, :method => "get", :class => "btn btn-primary"%>
<%= button_to "Fixed IPs", fixed_ips_path, :method => "get", :class => "btn btn-primary"%>
<%= button_to "Floating IPs", floating_ips_path, :method => "get", :class => "btn btn-primary"%>

<% end %>

<%= content_tag :div, :id =>"view", :class => "span10" do -%>

<%= render 'networks/default' %>

<% end %>
<% end %>
<% end %>
