<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @volume_metadatum.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @volume_metadatum.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @volume_metadatum.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @volume_metadatum.deleted %>
</p>

<p>
  <b>Volume:</b>
  <%= @volume_metadatum.volume_id %>
</p>

<p>
  <b>Key:</b>
  <%= @volume_metadatum.key %>
</p>

<p>
  <b>Value:</b>
  <%= @volume_metadatum.value %>
</p>


<%= link_to 'Edit', edit_volume_metadatum_path(@volume_metadatum) %> |
<%= link_to 'Back', volume_metadata_path %>
