<%= form_for(@volume_type_extra_spec) do |f| %>
  <% if @volume_type_extra_spec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volume_type_extra_spec.errors.count, "error") %> prohibited this volume_type_extra_spec from being saved:</h2>

      <ul>
      <% @volume_type_extra_spec.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :volume_type_id %><br />
    <%= f.number_field :volume_type_id %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
