<h1>Listing volume_type_extra_specs</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Volume type</th>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volume_type_extra_specs.each do |volume_type_extra_spec| %>
  <tr>
    <td><%= volume_type_extra_spec.created_at %></td>
    <td><%= volume_type_extra_spec.updated_at %></td>
    <td><%= volume_type_extra_spec.deleted_at %></td>
    <td><%= volume_type_extra_spec.deleted %></td>
    <td><%= volume_type_extra_spec.volume_type_id %></td>
    <td><%= volume_type_extra_spec.key %></td>
    <td><%= volume_type_extra_spec.value %></td>
    <td><%= link_to 'Show', volume_type_extra_spec %></td>
    <td><%= link_to 'Edit', edit_volume_type_extra_spec_path(volume_type_extra_spec) %></td>
    <td><%= link_to 'Destroy', volume_type_extra_spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volume type extra spec', new_volume_type_extra_spec_path %>
