<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @volume_type_extra_spec.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @volume_type_extra_spec.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @volume_type_extra_spec.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @volume_type_extra_spec.deleted %>
</p>

<p>
  <b>Volume type:</b>
  <%= @volume_type_extra_spec.volume_type_id %>
</p>

<p>
  <b>Key:</b>
  <%= @volume_type_extra_spec.key %>
</p>

<p>
  <b>Value:</b>
  <%= @volume_type_extra_spec.value %>
</p>


<%= link_to 'Edit', edit_volume_type_extra_spec_path(@volume_type_extra_spec) %> |
<%= link_to 'Back', volume_type_extra_specs_path %>
