<%= form_for(@virtual_storage_array) do |f| %>
  <% if @virtual_storage_array.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@virtual_storage_array.errors.count, "error") %> prohibited this virtual_storage_array from being saved:</h2>

      <ul>
      <% @virtual_storage_array.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :display_description %><br />
    <%= f.text_field :display_description %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :availability_zone %><br />
    <%= f.text_field :availability_zone %>
  </div>
  <div class="field">
    <%= f.label :instance_type_id %><br />
    <%= f.number_field :instance_type_id %>
  </div>
  <div class="field">
    <%= f.label :image_ref %><br />
    <%= f.text_field :image_ref %>
  </div>
  <div class="field">
    <%= f.label :vc_count %><br />
    <%= f.number_field :vc_count %>
  </div>
  <div class="field">
    <%= f.label :vol_count %><br />
    <%= f.number_field :vol_count %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
