<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @virtual_storage_array.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @virtual_storage_array.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @virtual_storage_array.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @virtual_storage_array.deleted %>
</p>

<p>
  <b>Display name:</b>
  <%= @virtual_storage_array.display_name %>
</p>

<p>
  <b>Display description:</b>
  <%= @virtual_storage_array.display_description %>
</p>

<p>
  <b>Project:</b>
  <%= @virtual_storage_array.project_id %>
</p>

<p>
  <b>Availability zone:</b>
  <%= @virtual_storage_array.availability_zone %>
</p>

<p>
  <b>Instance type:</b>
  <%= @virtual_storage_array.instance_type_id %>
</p>

<p>
  <b>Image ref:</b>
  <%= @virtual_storage_array.image_ref %>
</p>

<p>
  <b>Vc count:</b>
  <%= @virtual_storage_array.vc_count %>
</p>

<p>
  <b>Vol count:</b>
  <%= @virtual_storage_array.vol_count %>
</p>

<p>
  <b>Status:</b>
  <%= @virtual_storage_array.status %>
</p>


<%= link_to 'Edit', edit_virtual_storage_array_path(@virtual_storage_array) %> |
<%= link_to 'Back', virtual_storage_arrays_path %>
