<h1>Listing instance_metadata</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Instance</th>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instance_metadata.each do |instance_metadatum| %>
  <tr>
    <td><%= instance_metadatum.created_at %></td>
    <td><%= instance_metadatum.updated_at %></td>
    <td><%= instance_metadatum.deleted_at %></td>
    <td><%= instance_metadatum.deleted %></td>
    <td><%= instance_metadatum.instance_id %></td>
    <td><%= instance_metadatum.key %></td>
    <td><%= instance_metadatum.value %></td>
    <td><%= link_to 'Show', instance_metadatum %></td>
    <td><%= link_to 'Edit', edit_instance_metadatum_path(instance_metadatum) %></td>
    <td><%= link_to 'Destroy', instance_metadatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance metadatum', new_instance_metadatum_path %>
