<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @instance_metadatum.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @instance_metadatum.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @instance_metadatum.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @instance_metadatum.deleted %>
</p>

<p>
  <b>Instance:</b>
  <%= @instance_metadatum.instance_id %>
</p>

<p>
  <b>Key:</b>
  <%= @instance_metadatum.key %>
</p>

<p>
  <b>Value:</b>
  <%= @instance_metadatum.value %>
</p>


<%= link_to 'Edit', edit_instance_metadatum_path(@instance_metadatum) %> |
<%= link_to 'Back', instance_metadata_path %>
