<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @quotum.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @quotum.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @quotum.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @quotum.deleted %>
</p>

<p>
  <b>Project:</b>
  <%= @quotum.project_id %>
</p>

<p>
  <b>Resource:</b>
  <%= @quotum.resource %>
</p>

<p>
  <b>Hard limit:</b>
  <%= @quotum.hard_limit %>
</p>


<%= link_to 'Edit', edit_quotum_path(@quotum) %> |
<%= link_to 'Back', quota_path %>
