<%= form_for(@image_member) do |f| %>
  <% if @image_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_member.errors.count, "error") %> prohibited this image_member from being saved:</h2>

      <ul>
      <% @image_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_id %><br />
    <%= f.text_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :member %><br />
    <%= f.text_field :member %>
  </div>
  <div class="field">
    <%= f.label :can_share %><br />
    <%= f.check_box :can_share %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
