<%= form_for(@migrate_version) do |f| %>
  <% if @migrate_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@migrate_version.errors.count, "error") %> prohibited this migrate_version from being saved:</h2>

      <ul>
      <% @migrate_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repository_id %><br />
    <%= f.text_field :repository_id %>
  </div>
  <div class="field">
    <%= f.label :repository_path %><br />
    <%= f.text_area :repository_path %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.number_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
