<p id="notice"><%= notice %></p>

<p>
  <b>Repository:</b>
  <%= @migrate_version.repository_id %>
</p>

<p>
  <b>Repository path:</b>
  <%= @migrate_version.repository_path %>
</p>

<p>
  <b>Version:</b>
  <%= @migrate_version.version %>
</p>


<%= link_to 'Edit', edit_migrate_version_path(@migrate_version) %> |
<%= link_to 'Back', migrate_versions_path %>
