<h1>Listing floating_ips</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Address</th>
    <th>Fixed ip</th>
    <th>Project</th>
    <th>Host</th>
    <th>Auto assigned</th>
    <th>Pool</th>
    <th>Interface</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @floating_ips.each do |floating_ip| %>
  <tr>
    <td><%= floating_ip.created_at %></td>
    <td><%= floating_ip.updated_at %></td>
    <td><%= floating_ip.deleted_at %></td>
    <td><%= floating_ip.deleted %></td>
    <td><%= floating_ip.address %></td>
    <td><%= floating_ip.fixed_ip_id %></td>
    <td><%= floating_ip.project_id %></td>
    <td><%= floating_ip.host %></td>
    <td><%= floating_ip.auto_assigned %></td>
    <td><%= floating_ip.pool %></td>
    <td><%= floating_ip.interface %></td>
    <td><%= link_to 'Show', floating_ip %></td>
    <td><%= link_to 'Edit', edit_floating_ip_path(floating_ip) %></td>
    <td><%= link_to 'Destroy', floating_ip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Floating ip', new_floating_ip_path %>
