<%= form_for(@block_device_mapping) do |f| %>
  <% if @block_device_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block_device_mapping.errors.count, "error") %> prohibited this block_device_mapping from being saved:</h2>

      <ul>
      <% @block_device_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :instance_id %><br />
    <%= f.number_field :instance_id %>
  </div>
  <div class="field">
    <%= f.label :device_name %><br />
    <%= f.text_field :device_name %>
  </div>
  <div class="field">
    <%= f.label :delete_on_termination %><br />
    <%= f.check_box :delete_on_termination %>
  </div>
  <div class="field">
    <%= f.label :virtual_name %><br />
    <%= f.text_field :virtual_name %>
  </div>
  <div class="field">
    <%= f.label :snapshot_id %><br />
    <%= f.number_field :snapshot_id %>
  </div>
  <div class="field">
    <%= f.label :volume_id %><br />
    <%= f.number_field :volume_id %>
  </div>
  <div class="field">
    <%= f.label :volume_size %><br />
    <%= f.number_field :volume_size %>
  </div>
  <div class="field">
    <%= f.label :no_device %><br />
    <%= f.check_box :no_device %>
  </div>
  <div class="field">
    <%= f.label :connection_info %><br />
    <%= f.text_area :connection_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
