<h1>Listing block_device_mappings</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Instance</th>
    <th>Device name</th>
    <th>Delete on termination</th>
    <th>Virtual name</th>
    <th>Snapshot</th>
    <th>Volume</th>
    <th>Volume size</th>
    <th>No device</th>
    <th>Connection info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @block_device_mappings.each do |block_device_mapping| %>
  <tr>
    <td><%= block_device_mapping.created_at %></td>
    <td><%= block_device_mapping.updated_at %></td>
    <td><%= block_device_mapping.deleted_at %></td>
    <td><%= block_device_mapping.deleted %></td>
    <td><%= block_device_mapping.instance_id %></td>
    <td><%= block_device_mapping.device_name %></td>
    <td><%= block_device_mapping.delete_on_termination %></td>
    <td><%= block_device_mapping.virtual_name %></td>
    <td><%= block_device_mapping.snapshot_id %></td>
    <td><%= block_device_mapping.volume_id %></td>
    <td><%= block_device_mapping.volume_size %></td>
    <td><%= block_device_mapping.no_device %></td>
    <td><%= block_device_mapping.connection_info %></td>
    <td><%= link_to 'Show', block_device_mapping %></td>
    <td><%= link_to 'Edit', edit_block_device_mapping_path(block_device_mapping) %></td>
    <td><%= link_to 'Destroy', block_device_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Block device mapping', new_block_device_mapping_path %>
