<%= form_for(@instance_type) do |f| %>
  <% if @instance_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance_type.errors.count, "error") %> prohibited this instance_type from being saved:</h2>

      <ul>
      <% @instance_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :memory_mb %><br />
    <%= f.number_field :memory_mb %>
  </div>
  <div class="field">
    <%= f.label :vcpus %><br />
    <%= f.number_field :vcpus %>
  </div>
  <div class="field">
    <%= f.label :swap %><br />
    <%= f.number_field :swap %>
  </div>
  <div class="field">
    <%= f.label :vcpu_weight %><br />
    <%= f.number_field :vcpu_weight %>
  </div>
  <div class="field">
    <%= f.label :flavorid %><br />
    <%= f.text_field :flavorid %>
  </div>
  <div class="field">
    <%= f.label :rxtx_factor %><br />
    <%= f.text_field :rxtx_factor %>
  </div>
  <div class="field">
    <%= f.label :root_gb %><br />
    <%= f.number_field :root_gb %>
  </div>
  <div class="field">
    <%= f.label :ephemeral_gb %><br />
    <%= f.number_field :ephemeral_gb %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
