<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @iscsi_target.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @iscsi_target.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @iscsi_target.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @iscsi_target.deleted %>
</p>

<p>
  <b>Target num:</b>
  <%= @iscsi_target.target_num %>
</p>

<p>
  <b>Host:</b>
  <%= @iscsi_target.host %>
</p>

<p>
  <b>Volume:</b>
  <%= @iscsi_target.volume_id %>
</p>


<%= link_to 'Edit', edit_iscsi_target_path(@iscsi_target) %> |
<%= link_to 'Back', iscsi_targets_path %>
