<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @volume.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @volume.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @volume.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @volume.deleted %>
</p>

<p>
  <b>Ec2:</b>
  <%= @volume.ec2_id %>
</p>

<p>
  <b>User:</b>
  <%= @volume.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @volume.project_id %>
</p>

<p>
  <b>Host:</b>
  <%= @volume.host %>
</p>

<p>
  <b>Size:</b>
  <%= @volume.size %>
</p>

<p>
  <b>Availability zone:</b>
  <%= @volume.availability_zone %>
</p>

<p>
  <b>Instance:</b>
  <%= @volume.instance_id %>
</p>

<p>
  <b>Mountpoint:</b>
  <%= @volume.mountpoint %>
</p>

<p>
  <b>Attach time:</b>
  <%= @volume.attach_time %>
</p>

<p>
  <b>Status:</b>
  <%= @volume.status %>
</p>

<p>
  <b>Attach status:</b>
  <%= @volume.attach_status %>
</p>

<p>
  <b>Scheduled at:</b>
  <%= @volume.scheduled_at %>
</p>

<p>
  <b>Launched at:</b>
  <%= @volume.launched_at %>
</p>

<p>
  <b>Terminated at:</b>
  <%= @volume.terminated_at %>
</p>

<p>
  <b>Display name:</b>
  <%= @volume.display_name %>
</p>

<p>
  <b>Display description:</b>
  <%= @volume.display_description %>
</p>

<p>
  <b>Provider location:</b>
  <%= @volume.provider_location %>
</p>

<p>
  <b>Provider auth:</b>
  <%= @volume.provider_auth %>
</p>

<p>
  <b>Snapshot:</b>
  <%= @volume.snapshot_id %>
</p>

<p>
  <b>Volume type:</b>
  <%= @volume.volume_type_id %>
</p>


<%= link_to 'Edit', edit_volume_path(@volume) %> |
<%= link_to 'Back', volumes_path %>
