<h1>Listing bw_usage_caches</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Start period</th>
    <th>Last refreshed</th>
    <th>Bw in</th>
    <th>Bw out</th>
    <th>Mac</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bw_usage_caches.each do |bw_usage_cach| %>
  <tr>
    <td><%= bw_usage_cach.created_at %></td>
    <td><%= bw_usage_cach.updated_at %></td>
    <td><%= bw_usage_cach.deleted_at %></td>
    <td><%= bw_usage_cach.deleted %></td>
    <td><%= bw_usage_cach.start_period %></td>
    <td><%= bw_usage_cach.last_refreshed %></td>
    <td><%= bw_usage_cach.bw_in %></td>
    <td><%= bw_usage_cach.bw_out %></td>
    <td><%= bw_usage_cach.mac %></td>
    <td><%= link_to 'Show', bw_usage_cach %></td>
    <td><%= link_to 'Edit', edit_bw_usage_cach_path(bw_usage_cach) %></td>
    <td><%= link_to 'Destroy', bw_usage_cach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bw usage cache', new_bw_usage_cach_path %>
