<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @bw_usage_cach.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @bw_usage_cach.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @bw_usage_cach.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @bw_usage_cach.deleted %>
</p>

<p>
  <b>Start period:</b>
  <%= @bw_usage_cach.start_period %>
</p>

<p>
  <b>Last refreshed:</b>
  <%= @bw_usage_cach.last_refreshed %>
</p>

<p>
  <b>Bw in:</b>
  <%= @bw_usage_cach.bw_in %>
</p>

<p>
  <b>Bw out:</b>
  <%= @bw_usage_cach.bw_out %>
</p>

<p>
  <b>Mac:</b>
  <%= @bw_usage_cach.mac %>
</p>


<%= link_to 'Edit', edit_bw_usage_cach_path(@bw_usage_cach) %> |
<%= link_to 'Back', bw_usage_caches_path %>
