<%= link_to "Cloud", root_path, :class => 'brand' %>
<ul class="nav">
  <% if cloud_user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_cloud_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_cloud_user_session_path %>
    </li>
  <% end %>
  <% if cloud_user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_cloud_user_registration_path %>
    </li>
    <% if current_cloud_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', cloud_users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_cloud_user_registration_path %>
    </li>
  <% end %>
</ul>
