
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
                                   
<%= render 'layouts/shim' %>   
<%= render 'layouts/rel' %>   

<%= yield :head %>
 </head>

  <!-- START_HIGHLIGHT -->
<body class='<%= controller.controller_name %>'>
<!-- END_HIGHLIGHT -->           

 <%= render 'layouts/navbar' %>    
<br/><br/><br/><br/>

<%= yield %>

<%if flash[:notice]%>
<p class="notice"><%= notice %></p>
<%end%>

<%if flash[:alert]%>
<p class="alert"><%= alert %></p>
<%end%>

 <%= render 'layouts/footer' %>


</body>
</html>
