<h1>Listing aggregates</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Name</th>
    <th>Operational state</th>
    <th>Availability zone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aggregates.each do |aggregate| %>
  <tr>
    <td><%= aggregate.created_at %></td>
    <td><%= aggregate.updated_at %></td>
    <td><%= aggregate.deleted_at %></td>
    <td><%= aggregate.deleted %></td>
    <td><%= aggregate.name %></td>
    <td><%= aggregate.operational_state %></td>
    <td><%= aggregate.availability_zone %></td>
    <td><%= link_to 'Show', aggregate %></td>
    <td><%= link_to 'Edit', edit_aggregate_path(aggregate) %></td>
    <td><%= link_to 'Destroy', aggregate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aggregate', new_aggregate_path %>
