<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @aggregate.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @aggregate.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @aggregate.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @aggregate.deleted %>
</p>

<p>
  <b>Name:</b>
  <%= @aggregate.name %>
</p>

<p>
  <b>Operational state:</b>
  <%= @aggregate.operational_state %>
</p>

<p>
  <b>Availability zone:</b>
  <%= @aggregate.availability_zone %>
</p>


<%= link_to 'Edit', edit_aggregate_path(@aggregate) %> |
<%= link_to 'Back', aggregates_path %>
