<%= form_for(@dns_domain) do |f| %>
  <% if @dns_domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dns_domain.errors.count, "error") %> prohibited this dns_domain from being saved:</h2>

      <ul>
      <% @dns_domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :scope %><br />
    <%= f.text_field :scope %>
  </div>
  <div class="field">
    <%= f.label :availability_zone %><br />
    <%= f.text_field :availability_zone %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
