<%= form_for(@console_pool) do |f| %>
  <% if @console_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@console_pool.errors.count, "error") %> prohibited this console_pool from being saved:</h2>

      <ul>
      <% @console_pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :console_type %><br />
    <%= f.text_field :console_type %>
  </div>
  <div class="field">
    <%= f.label :public_hostname %><br />
    <%= f.text_field :public_hostname %>
  </div>
  <div class="field">
    <%= f.label :host %><br />
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :compute_host %><br />
    <%= f.text_field :compute_host %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
