<h1>Listing console_pools</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Address</th>
    <th>Username</th>
    <th>Password</th>
    <th>Console type</th>
    <th>Public hostname</th>
    <th>Host</th>
    <th>Compute host</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @console_pools.each do |console_pool| %>
  <tr>
    <td><%= console_pool.created_at %></td>
    <td><%= console_pool.updated_at %></td>
    <td><%= console_pool.deleted_at %></td>
    <td><%= console_pool.deleted %></td>
    <td><%= console_pool.address %></td>
    <td><%= console_pool.username %></td>
    <td><%= console_pool.password %></td>
    <td><%= console_pool.console_type %></td>
    <td><%= console_pool.public_hostname %></td>
    <td><%= console_pool.host %></td>
    <td><%= console_pool.compute_host %></td>
    <td><%= link_to 'Show', console_pool %></td>
    <td><%= link_to 'Edit', edit_console_pool_path(console_pool) %></td>
    <td><%= link_to 'Destroy', console_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Console pool', new_console_pool_path %>
