<% content_for :head do %>
<%= stylesheet_link_tag 'dashboard-base.css.scss' -%>
<% end %>


<%= content_tag :div, :class => "dashboard" do -%>

    <%= image_tag("keys.jpg", :alt=>"")%>
        <%= content_tag :div, :class => "container" do -%>
        <%= content_tag :div, :class => "dashboard-caption" do -%>
        <h1> Instances </h1>
        <% end %>
        <% end %>
    <% end %>


<%= content_tag :div, :class => "container-fluid" do -%>
<%= content_tag :div, :class => "row-fluid" do -%>

<%= content_tag :div, :class => "span2" do -%>

<%= button_to "Instances", instances_path, :method => "get", :class => "btn btn-primary disabled"%>
<%= button_to "Latest", recent_instances_path, :method => "get", :class => "btn btn-info"%>
<%= button_to "History", history_instances_path, :method => "get", :class => "btn btn-info"%>
<%= button_to "Flavors", instance_types_path, :method => "get", :class => "btn btn-primary"%>
<%= button_to "Cache", instance_info_caches_path, :method => "get", :class => "btn btn-primary"%>

<% end %>

<%= content_tag :div, :class => "span10" do -%>

<%= render 'instances/default' %>

<% end %>
<% end %>
<% end %>
