<%= form_for(@agent_build) do |f| %>
  <% if @agent_build.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent_build.errors.count, "error") %> prohibited this agent_build from being saved:</h2>

      <ul>
      <% @agent_build.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :hypervisor %><br />
    <%= f.text_field :hypervisor %>
  </div>
  <div class="field">
    <%= f.label :os %><br />
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :architecture %><br />
    <%= f.text_field :architecture %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :md5hash %><br />
    <%= f.text_field :md5hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
