<h1>Listing user_project_role_associations</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>User</th>
    <th>Project</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_project_role_associations.each do |user_project_role_association| %>
  <tr>
    <td><%= user_project_role_association.created_at %></td>
    <td><%= user_project_role_association.updated_at %></td>
    <td><%= user_project_role_association.deleted_at %></td>
    <td><%= user_project_role_association.deleted %></td>
    <td><%= user_project_role_association.user_id %></td>
    <td><%= user_project_role_association.project_id %></td>
    <td><%= user_project_role_association.role %></td>
    <td><%= link_to 'Show', user_project_role_association %></td>
    <td><%= link_to 'Edit', edit_user_project_role_association_path(user_project_role_association) %></td>
    <td><%= link_to 'Destroy', user_project_role_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User project role association', new_user_project_role_association_path %>
