<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Sign in Count</th>
    <th>Current Sign in</th>
    <th>Last sign in</th>
    <th>Current sign in IP</th>
    <th>Last sign in IP</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= user.last_sign_in_ip %></td>
    <td><%= user.admin %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= button_to 'Add to Admins', user, {:controller => :user, :action => :upgrade} %></td>
  </tr>
<% end %>
</table>

<br />

