<h1>Listing instance_faults</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Instance uuid</th>
    <th>Code</th>
    <th>Message</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instance_faults.each do |instance_fault| %>
  <tr>
    <td><%= instance_fault.created_at %></td>
    <td><%= instance_fault.updated_at %></td>
    <td><%= instance_fault.deleted_at %></td>
    <td><%= instance_fault.deleted %></td>
    <td><%= instance_fault.instance_uuid %></td>
    <td><%= instance_fault.code %></td>
    <td><%= instance_fault.message %></td>
    <td><%= instance_fault.details %></td>
    <td><%= link_to 'Show', instance_fault %></td>
    <td><%= link_to 'Edit', edit_instance_fault_path(instance_fault) %></td>
    <td><%= link_to 'Destroy', instance_fault, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance fault', new_instance_fault_path %>
