<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @instance_fault.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @instance_fault.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @instance_fault.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @instance_fault.deleted %>
</p>

<p>
  <b>Instance uuid:</b>
  <%= @instance_fault.instance_uuid %>
</p>

<p>
  <b>Code:</b>
  <%= @instance_fault.code %>
</p>

<p>
  <b>Message:</b>
  <%= @instance_fault.message %>
</p>

<p>
  <b>Details:</b>
  <%= @instance_fault.details %>
</p>


<%= link_to 'Edit', edit_instance_fault_path(@instance_fault) %> |
<%= link_to 'Back', instance_faults_path %>
