<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @sm_backend_config.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @sm_backend_config.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @sm_backend_config.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @sm_backend_config.deleted %>
</p>

<p>
  <b>Flavor:</b>
  <%= @sm_backend_config.flavor_id %>
</p>

<p>
  <b>Sr uuid:</b>
  <%= @sm_backend_config.sr_uuid %>
</p>

<p>
  <b>Sr type:</b>
  <%= @sm_backend_config.sr_type %>
</p>

<p>
  <b>Config params:</b>
  <%= @sm_backend_config.config_params %>
</p>


<%= link_to 'Edit', edit_sm_backend_config_path(@sm_backend_config) %> |
<%= link_to 'Back', sm_backend_configs_path %>
