<% content_for :head do %>
<%= stylesheet_link_tag 'dashboard-base.css.scss' -%>
<% end %>


<%= content_tag :div, :class => "dashboard" do -%>

    <%= image_tag("keys.jpg", :alt=>"")%>
        <%= content_tag :div, :class => "container" do -%>
        <%= content_tag :div, :class => "dashboard-caption" do -%>
        <h1> Security </h1>
        <% end %>
        <% end %>
    <% end %>


<%= content_tag :div, :class => "container-fluid" do -%>
<%= content_tag :div, :class => "row-fluid" do -%>

<%= content_tag :div, :class => "span2" do -%>

<%= button_to "Certificates", certificates_path, :method => "get", :class => "btn btn-primary"%>
<%= button_to "Groups", security_groups_path, :method => "get", :class => "btn btn-primary"%>
<%= if current_user.admin? %>
<%= button_to "Keypairs", key_pairs_path, :method => "get", :class => "btn btn-primary"%>
<%= button_to "Rules", security_group_rules_path, :method => "get", :class => "btn btn-primary"%>

<% end %>
<% end %>

<%= content_tag :div, :id =>"view", :class => "span10" do -%>

<%= render 'certificates/default' %>

<% end %>
<% end %>
<% end %>
