<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @cloud_user.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @cloud_user.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @cloud_user.updated_at %>
</p>

<p>
  <b>Sign in Count:</b>
  <%= @cloud_user.sign_in_count %>
</p>

<p>
  <b>Current Sign in:</b>
  <%= @cloud_user.current_sign_in_at %>
</p>

<p>
  <b>Last Sign in:</b>
  <%= @cloud_user.last_sign_in_at %>
</p>

<p>
  <b>Current Sign in IP:</b>
  <%= @cloud_user.current_sign_in_ip  %>
</p>

<p>
  <b>Last Sign in IP:</b>
  <%= @cloud_user.last_sign_in_ip %>
</p>

<p>
  <b>Admin:</b>
  <%= @cloud_user.admin %>
</p>


<%= button_to 'Add to Admins', @cloud_user, {:controller => :cloud_user, :action => :upgrade} %>
<%= link_to 'Back', cloud_user_index_path %>
