<div class="box-center">
<p id="notice"><%= notice %></p>

<p>
  <h1>
  <%= @cloud_user.username %>
  </h1>
</p>

<p>
  <b>Email:</b>
  <%= @cloud_user.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @cloud_user.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @cloud_user.updated_at %>
</p>

<p>
  <b>Sign in Count:</b>
  <%= @cloud_user.sign_in_count %>
</p>

<p>
  <b>Current Sign in:</b>
  <%= @cloud_user.current_sign_in_at %>
</p>

<p>
  <b>Last Sign in:</b>
  <%= @cloud_user.last_sign_in_at %>
</p>

<p>
  <b>Current Sign in IP:</b>
  <%= @cloud_user.current_sign_in_ip  %>
</p>

<p>
  <b>Last Sign in IP:</b>
  <%= @cloud_user.last_sign_in_ip %>
</p>

<p>
  <b>Admin:</b>
  <%= @cloud_user.admin %>
</p>

<p>
<%= link_to 'Edit Account', edit_cloud_user_registration_path, :class => "btn btn-primary" %>
</p>

<p>
<% if current_cloud_user.admin? %>
<% if @cloud_user.admin? %>
<%= link_to('Remove from Admins', downgrade_cloud_user_path(@cloud_user), :remote => :true, :class => "btn btn-warning") %></td>
<%else%>
<%= link_to('Add to Admins', upgrade_cloud_user_path(@cloud_user), :remote => :true, :class => "btn btn-warning") %></td>
<%end%>
<%end%>
</p>
</div>
<%= link_to 'Back', cloud_user_index_path %>
