<h1>Listing migrations</h1>

<table>
  <tr>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Deleted at</th>
    <th>Deleted</th>
    <th>Source compute</th>
    <th>Dest compute</th>
    <th>Dest host</th>
    <th>Status</th>
    <th>Instance uuid</th>
    <th>Old instance type</th>
    <th>New instance type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @migrations.each do |migration| %>
  <tr>
    <td><%= migration.created_at %></td>
    <td><%= migration.updated_at %></td>
    <td><%= migration.deleted_at %></td>
    <td><%= migration.deleted %></td>
    <td><%= migration.source_compute %></td>
    <td><%= migration.dest_compute %></td>
    <td><%= migration.dest_host %></td>
    <td><%= migration.status %></td>
    <td><%= migration.instance_uuid %></td>
    <td><%= migration.old_instance_type_id %></td>
    <td><%= migration.new_instance_type_id %></td>
    <td><%= link_to 'Show', migration %></td>
    <td><%= link_to 'Edit', edit_migration_path(migration) %></td>
    <td><%= link_to 'Destroy', migration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Migration', new_migration_path %>
