<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @cell.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @cell.updated_at %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @cell.deleted_at %>
</p>

<p>
  <b>Deleted:</b>
  <%= @cell.deleted %>
</p>

<p>
  <b>Api url:</b>
  <%= @cell.api_url %>
</p>

<p>
  <b>Username:</b>
  <%= @cell.username %>
</p>

<p>
  <b>Password:</b>
  <%= @cell.password %>
</p>

<p>
  <b>Weight offset:</b>
  <%= @cell.weight_offset %>
</p>

<p>
  <b>Weight scale:</b>
  <%= @cell.weight_scale %>
</p>

<p>
  <b>Name:</b>
  <%= @cell.name %>
</p>

<p>
  <b>Is parent:</b>
  <%= @cell.is_parent %>
</p>

<p>
  <b>Rpc host:</b>
  <%= @cell.rpc_host %>
</p>

<p>
  <b>Rpc port:</b>
  <%= @cell.rpc_port %>
</p>

<p>
  <b>Rpc virtual host:</b>
  <%= @cell.rpc_virtual_host %>
</p>


<%= link_to 'Edit', edit_cell_path(@cell) %> |
<%= link_to 'Back', cells_path %>
