<% content_for :head do %>
<%= stylesheet_link_tag 'cloud_user.css.scss' -%>
<% end %>

</br></br>
<div class="form-signin">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <h2 class="form-signin-heading">Change your password</h2>
  
  <div>
  <%= f.password_field :password, :autofocus => true, :placeholder => "New Password" %></div>

  <div>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm New Password" %></div>

  <div><%= f.submit "Change my password", :class => "btn btn-primary" %></div>
<% end %>

